.barra-lateral {
    background: $c-2;
    color: $c-3;
    min-width: 300px;
    min-height: 100vh;
    padding: 0;
    a {
        color: $c-3;
    }
    .logo {
        background: $c-4;
        margin-bottom: 2px;
        h2 {
            font-size: 30px;
            font-family: $font-family-2;
            padding: 20px 0;
            text-align: center;
            font-weight: 300;
            margin: 0;
        }
    }
    .menu {
        a {
            display: block;
            padding: 20px;
            font-family: $font-family-2;
            font-weight: 500;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            &:hover {
                background: $c-5;
                text-decoration: none;

            }
            i {
                margin-right: 20px;
                font-weight: normal;
            }
        }
    }
}