header {
    background: $c-2;
    padding: 10px 0;
    .logo {
        img {
            height: 22px;
        }
    }
    .buscar {
        form {
            input[type="text"] {
                width: 100%;
                background: $c-3;
                border: none;
                font-size: 12px;
                padding: 0 10px;
                height: 25px;
                line-height: 25px;
                border-radius: 3px 0 0 3px;
                color: $c-4;
                font-family: $font-family-1;
            }
            button {
                width: 100%;
                background: $c-3;
                border: none;
                font-size: 12px;
                padding: 0 10px;
                height: 25px;
                line-height: 25px;
                border-radius: 0 3px 3px 0;
                cursor: pointer;
                color: $c-4;
                &:hover {
                    background: $c-5;
                    color: $c-3;
                }
            }
        }
    }
    .menu {
        padding: 0;
        a {
            color: rgba(255, 255, 255, 0.8);
            text-decoration: none;
            &:hover {
                color: $c-3;
            }
        }
        .imagen {
            display: inline-block;
            width: 22px;
            height: 22px;
            overflow: hidden;
            img {
                border-radius: 100px;
            }
        }
    }
}