main {
    .publicar {
        margin-bottom: 20px;
        .foto {
            a {
                width: 60px;
                height: 60px;
                display: inline-block;
                overflow: hidden;
                border-radius: 100px;
                margin-top: 20px;
            }
            img {
                width: 100%;
            }
        }
        form {
            textarea {
                width: 100%;
                max-width: 100%;
                min-height: 100px;
                max-height: 300px;
                border: none;
                padding: 15px;
                font-size: 16px;
                font-family: $font-family-1;
                color: $c-9;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
            }
            .contenedor-botones {
                padding: 20px 0;
                border-bottom: 1px solid $c-6;
                a {
                    color: $c-10;
                    font-size: 20px;
                    margin-right: 10px;
                    &:hover {
                        color: $c-7;
                    }
                }
            }
            button {
                border: 1px solid $c-11;
                padding: 5px 30px;
                font-size: 14px;
                font-family: $font-family-2;
                background: linear-gradient(to bottom, $c-12, $c-2 100%);
                color: $c-3;
                border-radius: 3px;
                cursor: pointer;
                &:hover {
                    background: linear-gradient(to bottom, $c-2, $c-12 100%);
                }
            }
        }
    }
}