header {
    margin-top: 30px;
    
    .nav {
        min-height: 80px;
        overflow: hidden;
        background: $c-1;
    }

    .logo {
        h2, span, p {
            font-size: 16px;
            display: inline-block;
            margin: 0;
        }
        
        h2 {
            font-weight: 800;
            text-transform: uppercase;
        }
        
        .icono {
            color: $c-3;
        }

        p {
            color: $c-4;
        }
    }

    .menu {
        padding: 0;
       
        a {
            display: block;
            padding: 0 30px;
            text-decoration: none;
            color: $c-1;

            div {
                span {
                    font-weight: 600;
                }
            }
        }

        .c-1 {
            background: $c-6;
            &:hover {
                background: $c-7;
            }
        }

        .c-2 {
            background: $c-10;
            &:hover {
                background: $c-11;
            }
        }

        .c-3 {
            background: $c-12;
            &:hover {
                background: $c-13;
            }
        }
    
    }
}